style.css

body {
  margin: 0;
  min-height: 100vh;
  background: url("Untitled_Artwork (6).png") center center / cover no-repeat;
  background-attachment: scroll
  justify-content: center;
  padding: 2rem;
}

.canvas {
  position: relative;
  width: 100%;
  max-width: 1200px;
  aspect-ratio: 2620 / 1830;
  overflow: visible;
}

.canvas a {
  position: absolute;
  max-width: 12%;
}
.canvas a:hover img {
  transform: scale(1.1)}
.iris { left: 20.6%; top: 31%; }
.ponyfoot { left: 32%; top: 62.8%; }
.pecan { left: 28.6%; top: 54%; }
.fig { left: 16.3%; top: 54.6%; }
.asparagus { left: 35.7%; top: 37%; }
.orchid { left: 27.5%; top: 51.8%; }
.aster { left: 36.2%; top: 76.4%; }
.cypress { left: 31.7%; top: 61.2%; }
.pear { left: 32.9%; top: 54.5%; }
.boxwood { left: 31.3%; top: 39.8%; }